body{
background-image: url("./pic/bg.jpg");
background-size: cover;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}
h1{
    font-style: italic;
    text-align: center;
color: white;
}

.fhead {
    border: 2px solid blue;
box-shadow:-1px -6px 13px rgb(110, 85, 255);
margin-top:30px ;
    padding: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.btn {
    border: 2px solid blue;
    padding: 10px;
    font-size: 20px;
    box-shadow: 1px 2px 11px blue;
  color: white;
  text-shadow: 1px 2px 4px white    ;



}

.padd {
    padding-right: 18px;
    padding-left: 15px;

}

.smallpadd {
    padding-right: 14px;

}

.paddlarge {
    padding-left: 20px;
    padding-right: 22px;

}

.mul {

    padding-left: 23px;
    padding-right: 23px;
}

.min {
    padding-left: 23px;
    padding-right: 25px;
}

.dot {
    padding-left: 23px;
    padding-right: 23px;
}
.btn:hover{
    color: white;

}
input{
font-size: 19px;
color: aliceblue;
background: none;
border: 3px solid   rgb(255, 35, 255);
box-shadow:-1px -6px 13px rgb(255 85 255);
}

.AC{
    border: 2px solid   red;
        color: red;
    
    }
    .eq{
        border-color: orangered;
        color: rgb(255, 0, 0);
    
    }  .slash{
        padding-left: 23px;
        padding-right: 24px;
    }
@media(max-width:276px) {
input{
    font-size: 15px;
    border: none;
    padding-top:4px;
    padding-bottom:4px ;
}
    .btn {
        border: none;
        padding: 0px;
        font-size: 30px;
        box-shadow: none;
    }

    .fhead {
        border: none;
        display: flex;
        gap: 3px;
    }

.fhead {
height: 39vh;
padding: 10px   5px 10px    5px;

}
.plus{
    padding-left: 12px;

}

.head1 {
    display: flex;
    flex-direction: row;
    gap: 27px;
}
.head2 {
    display: flex;
    flex-direction: row;
    gap: 45px;
}


.head3 {
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.head4 {
    display: flex;
    flex-direction: row;
    gap: 44px;
}
.head5 {
    display: flex;
    flex-direction: row;
    gap: 28px;
}
.AC{
    border:none;
        color: rgb(255, 255, 255);
    
    }
    .eq{
        border: none;
        color: rgb(255, 255, 255);
    
    }   
}
